<canvas #canvas></canvas>
<audio id="tonas" src="./../../assets/audio/Antonio Mairenatoná grande y chica.mp3"></audio>
<audio id="seguiriya" src="./../../assets/audio/Camarón- Seguiriyas (letra).mp3"></audio>
<audio id="laSolea" src="./../../assets/audio/Estrella Morente - Soleá.mp3"></audio>
<audio id="malagueñas" src="./../../assets/audio/Chato de la Isla por Malagueñas del Mellizo.mp3"></audio>
<audio id="bulerias" src="./../../assets/audio/Bulerías. Miguel Poveda y Moraito. 2011.mp3"></audio>
<audio id="granainas" src="./../../assets/audio/Enrique Morente _ Granaína.mp3"></audio>
<audio id="mediasGranainas" src="./../../assets/audio/Media Granaína. Antonio El Turry. 2020.mp3"></audio>
<audio id="fandangos" src="./../../assets/audio/Camarón - Fandangos.mp3"></audio>
<audio id="saeta" src="./../../assets/audio/Rocío Jurado - La Saeta al Cristo de Los Gitanos..mp3"></audio>
<audio id="debla" src="./../../assets/audio/DEBLA.mp3"></audio>
<audio id="carcelera" src="./../../assets/audio/Carcelera. José Menese. 1995.mp3"></audio>
<audio id="martinete" src="./../../assets/audio/Martinete. La Fragua del Tío Juane. 1995.mp3"></audio>
<audio id="cañas" src="./../../assets/audio/Caña. Chocolate. 2000 [UEXxOyQOKfA].mp3"></audio>
<audio id="elPolo" src="./../../assets/audio/El polo de Tobalo (2015 Remaster) [ZngDXr4vWmg].mp3"></audio>
<audio id="alegrias" src="./../../assets/audio/Alegrías. Felipa del Moreno. 2014.mp3"></audio>
<audio id="estilosCamperos" src="./../../assets/audio/Antología del Cante Flamenco Hispavox. Cara 5. Estilos camperos. Audio vinilo edición 1958. [fRTQBl8YdaY].mp3"></audio>
<audio id="bamberas" src="./../../assets/audio/Bamberas. Aurora Vargas. 1991 [ORHPtCW7Q4w].mp3"></audio>
<audio id="roas" src="./../../assets/audio/Rosas.mp3"></audio>
<audio id="peteneras" src="./../../assets/audio/Peteneras. Niño de Elche. 2007.mp3"></audio>
<audio id="temporera" src="./../../assets/audio/Temporera de Antonio Mejías en la 46ª Cata Flamenca de Montilla [BjArl_JdBY8].mp3"></audio>
<audio id="liviana" src="./../../assets/audio/LIVIANA.mp3"></audio>
<audio id="campanilleros" src="./../../assets/audio/Nina de la Puebla - Los Campanilleros [2jBSmuBvHTI].mp3"></audio>
<audio id="arrieras" src="./../../assets/audio/ARRIERAS.mp3"></audio>
<audio id="serrana" src="./../../assets/audio/SERRANAS.mp3"></audio>
<audio id="trilleras" src="./../../assets/audio/Trilleras.mp3"></audio>
<audio id="sevillanas" src="./../../assets/audio/Sevillanas de Carlos Saura 1992 _ Camarón de la Isla (1080p) [-W6xuwvwLGk].mp3"></audio>
<audio id="tientos" src="./../../assets/audio/Tientos.mp3"></audio>
<audio id="caracoles" src="./../../assets/audio/CARACOLES.mp3"></audio>
<audio id="cantiñas" src="./../../assets/audio/CANTIÑAS DE PININI.mp3"></audio>
<audio id="tangos" src="./../../assets/audio/Miguel Poveda Real -  Triana, puente y aparte ( Tangos de Triana ).mp3"></audio>
<audio id="tanguillos" src="./../../assets/audio/Chano Lobato - Tanguillos de Cadiz.mp3"></audio>
<audio id="romeras" src="./../../assets/audio/Romeras.mp3"></audio>
<audio id="mirabras" src="./../../assets/audio/Mirabrás.mp3"></audio>
<audio id="elGarrotin" src="./../../assets/audio/GARROTIN.mp3"></audio>
<audio id="piyayo" src="./../../assets/audio/Cantes del Piyayo. Antonio de Canillas. 2000 [EWT0YbDe2gk].mp3"></audio>
<audio id="fandanguillos" src="./../../assets/audio/Zas!! Candil Folk Fandanguillo manchego  Escuchando Castilla La Mancha.mp3"></audio>
<audio id="jabegote" src="./../../assets/audio/JABEGOTE.mp3"></audio>
<audio id="huelva" src="./../../assets/audio/Fandangos de Huelva. Rancapino Hijo. 2020.mp3"></audio>
<audio id="praviana" src="./../../assets/audio/Palos Flamencos  Praviana.mp3"></audio>
<audio id="rumbas" src="./../../assets/audio/Palos Flamencos 🎵 Rumba [AlCBRYlxwJY].mp3"></audio>
<audio id="farrucas" src="./../../assets/audio/Farrucas. Arceli Campillos. 2020.mp3"></audio>
<audio id="milongas" src="./../../assets/audio/Pregón por milongas. El Cabrero. 1999.mp3"></audio>
<audio id="colombianas" src="./../../assets/audio/Colombianas. Ana Reverte. 1995.mp3"></audio>
<audio id="vidalitas" src="./../../assets/audio/Vidalita.mp3"></audio>
<audio id="guajiras" src="./../../assets/audio/GUAJIRA.mp3"></audio>
<audio id="tarantos" src="./../../assets/audio/Taranto.mp3"></audio>
<audio id="tarantas" src="./../../assets/audio/Taranta.mp3"></audio>
<audio id="jaberas" src="./../../assets/audio/JABERA.mp3"></audio>
<audio id="mineras" src="./../../assets/audio/Minera.mp3"></audio>
<audio id="zambra" src="./../../assets/audio/Estrella Morente _ Zambra [cNtbfm8Xkfk].mp3"></audio>
<audio id="zorongo" src="./../../assets/audio/Zorongo.mp3"></audio>
<audio id="alborea" src="./../../assets/audio/ALBOREA.mp3"></audio>
<audio id="bandola" src="./../../assets/audio/BANDOLÁ.mp3"></audio>
<audio id="marianas" src="./../../assets/audio/Mariana.mp3"></audio>
<audio id="ferreña" src="./../../assets/audio/Ferreña. Anabel de Vico. 2020.mp3"></audio>
<audio id="verdiales" src="./../../assets/audio/Verdial.mp3"></audio>
<audio id="rondeñas" src="./../../assets/audio/Enrique Morente canta por Rondeñas  Flamenco en Canal Sur.mp3"></audio>
<audio id="cartageneras" src="./../../assets/audio/Rocio Luna por Cartageneras en las semifinales del Cante de las Minas 2023.mp3"></audio>
<audio id="canasteras" src="./../../assets/audio/CANASTERA  CAMARON DE LA ISLA.mp3"></audio>
<audio id="fiesta" src="./../../assets/audio/Fiesta por Bulerías. Grupo flamenco La Soleá. 1991 [XszddxLMexY].mp3"></audio>
<audio id="romance" src="./../../assets/audio/Romance.mp3s"></audio>
<audio id="nana" src="./../../assets/audio/Nana.mp3"></audio>

